$primary-color-lightmode: white;
$secondary-color-lightmode: #dfd7ff;
$thirdary-color-lightmode: #aeaeff;
$text-primary-lightmode: black;

$primary-color-darkmode: #03011d;
$secondary-color-darkmode: #2f2449;
$thirdary-color-darkmode: #8787e7;
$text-primary-darkmode: white;